<!DOCTYPE html>
<html>
  <head>
    <title>{{ filenode.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="{% static 'css/finder.css' %}">
    <link rel="stylesheet" href="{% static 'css/editor.css' %}">
  </head>
  <body>
    <div class="container">
      <header>
        <div class="file {% if filenode.type != 'folder' %}file-screen{% endif %}">
          <h2 class="file-name">{{ filenode.name }}</h2>
          <h4 class="file-path">
            /<a href="#">Users</a>/<a href="#">vagifmammadaliyev</a>/<a href="#">Desktop</a>
          </h4>
        </div>
        <div class="user">
          <h2 class="username">{{ username }}</h2>
        </div>
      </header>

      <main>
      {% block content %}{% endblock %}
      </main>
    </div>

    <script src="{% static 'js/finder.js' %}" charset="utf-8"></script>
    <script src="{% static 'js/editor.js' %}" charset="utf-8"></script>
  </body>
</html>
