/* HEADER */

body {
  background-color: #d7e5fa;

}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .file {
  padding: 20px;
  margin: 20px;
  background-color: #b1cdfa;
  border-radius: 15px;
  border: 3px solid blue;
  max-width: 60%;
  overflow-x: scroll;
}

header .user {
  padding: 20px;
  margin: 20px;
  background-color: #ffc4c4;
  border-radius: 15px;
  border: 3px solid red;
}

header .file .file-path a,
header .file .file-path a:visited,
header .file .file-path a:hover {
  cursor: pointer;
  color: blue;
  transition: color 0.2s ease-in-out
}

header .file .file-path a:hover {
  color: white;
}

header .file.file-screen {
  background-color: #d7d9d7;
  border-color: black;
  color: black;
}

header .file.file-screen .file-path,
header .file.file-screen .file-name,
header .file.file-screen .file-path a {
  color: black;
}

header .file.file-screen .file-path a:hover {
  color: white;
}

header .file .file-path,
header .file .file-name,
header .user .username {
  margin: 5px;
}

header .file .file-name,
header .file .file-path {
  color: blue;
}

header .user .username {
  color: red;
  transition: color 0.1s ease-in-out
}

header .user .username:hover {
  color: white;
}

header .file .file-path {
  color: blue;
}

header .user {
  padding: 20px;
  margin: 20px;
}

/* end HEADER */

/* MAIN */

main {
  width: 80%;
  margin: 0 auto;
  font-weight: bold;
}

main .filenode-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

main .create-node {
  display: flex;
  justify-content: space-between;
}

main form.create-node-form {
  display: none;
  text-align: center;
}

main form.create-node-form input {
  border: 3px solid blue;
  width: 100%;
  border-radius: 15px;
  font-size: 1.2em;
  padding: 10px;
  color: blue;
  font-weight: bold;
  background-color: #b1cdfa;
  outline: none;
  margin: 5px 0 5px 0; auto;
}

main form.create-node-form button.save {
  width: 100%;
  margin-top: 0px;
}

main form.create-node-form input:hover,
main form.create-node-form input:focus {
  background-color: white;
}

main .node-row .open-project {
  border: 3px solid green;
  font-size: 1.2em;
  text-align: center;
  color: green;
  background-color: #deffdf;
  margin: 5px;
  float: right;
  padding: 10px;
  width: 18%;
  border-radius: 15px;
  transition: all 0.1s ease-in-out;
  margin-right: 0;
}

main .node-row .open-project:hover {
  background-color: white;
}

main .node-row .hidden.open-project {
  color: black;
  background-color: #d7d9d7;
  border-color: black;
}

main .node-row .hidden.open-project:hover {
  background-color: white;
}

main .filenode {
  float: left;
  border: 3px solid black;
  border-radius: 15px;
  padding: 10px;
  margin: 5px 0 5px 0;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  background-color: #c7c7c7;
}

main .filenode {
  transition: all 0.1s ease-in-out;
}

main .filenode.file {
  background-color: #b1cdfa;
  border-color: blue;
  color: blue;
}

main .filenode.file:hover {
  background-color: white;
}

main .filenode.directory {
  width: 80%;
  float: left;
  background-color: #deffdf;
  border-color: green;
  color: green;
}

main .filenode.directory:hover {
  background-color: white;
}

main .filenode.binary {
  background-color: #ffc4c4;
  border-color: red;
  color: red;
}

main .filenode.binary:hover {
  background-color: white;
}

main .filenode.hidden {
  background-color: #d7d9d7;
  border-color: black;
  color: black;
}

/* end MAIN */

/* EDITOR + BUTTONS */
/* look also in editor.css for typing styles and more */

main div.ide {
  margin-bottom: 20px;
}

main div.ide form {
  display: flex;
  flex-direction: column;
}

.form-button {
  width: 100%;
  margin: 5px 0 5px 0;
  font-size: 1.2em;
  font-weight: bold;
  padding: 10px;
  margin-top: -25px;
  align-self: center;
  transition: all 0.1s ease-in-out;
}

.form-button.save {
  border: 3px solid green;
  border-radius: 15px;
  background-color: #deffdf;
  color: green;
}

.form-button.create {
  border: 3px solid blue;
  border-radius: 15px;
  background-color: #b1cdfa;
  color: blue;
  width: 49.5%;
  margin-top: 10px;
  margin-bottom: 0;
}

.form-button.rename {
  border: 3px solid purple;
  border-radius: 15px;
  background-color: #f2ccfc;
  color: purple;
  width: 13%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 1%;
  margin-right: 0.5%;
}

.form-button.rename:hover {
  background-color: white;
}

.form-button.delete {
  border: 3px solid #ff0048;
  border-radius: 15px;
  background-color: #ff96b4;
  color: white;
  width: 13%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0.5%;
  margin-right: 0;
}

.form-button.delete:hover {
  background-color: white;
  color: #ff0048;
}

.form-button.discard {
  display: block;
  text-align: center;
  border: 3px solid red;
  border-radius: 15px;
  background-color: #ffc4c4;
  color: red;
  margin: 0 auto;
}

.form-button.discard:hover,
.form-button.create:hover,
.form-button.save:hover {
  background-color: white;
}

main div.ide pre {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  height;
}

/* end EDITOR */


/* MIXINS */

.full-width {
  width: 50% !important;
}

.nice-width {
  width: 71.6% !important;
}

.project-width {
  width: 52% !important;
}

.message {
  margin: 5px auto;
  border: 2px solid black;
  border-radius: 15px;
  color: black;
  background-color: white;
  padding: 5px;
  max-width: 50%;
  text-align: center;
}

.info {
  border-color: blue;
  background-color: #b1cdfa;
  color: blue;
}

.error {
  color: red;
  border-color: red;
  background-color: #ffc4c4;
}

.focus-white:focus,
.focus-white:hover {
  background-color: white;
}

.rename-input {
  border-color: black !important;
  background-color: white !important;
  color: black !important;
}

/* end MIXINS */
